{% extends "base.html" %}
{% block active %}
<a class="nav-link " href="/">Home</a>
</li>
<li class="nav-item">
<a class="nav-link active" href="/Appointments">Appointments</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Customer">Customers</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Employee">Employees</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/EventOrders">Event Orders</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Payment">Payments</a> 
</li>
<li class="nav-item">
<a class="nav-link" href="/Vendor">Vendors</a>  
</li>
<li class="nav-item">
    <a class="nav-link" href="/Misc">Misc</a>
    </li>

{% endblock %}

    {% block content %}
    <div class="container-fluid text-center">          
        <div class="p-5 mb-4 rounded-3">
            <h1 class="display-5 fw-bold">Appointments</h1>
                <div class="container py-5 text-center">
                    
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Add Appointment
                      </button>
                    
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New Appointment</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <form action = "{{ request.path }}" method = "post">
                                    <input type="hidden" name="check" value="newAppointment">
                                    <label>Customer</label>
                                    <select class="form-control" name="customerID">
                                        <option disabled selected value> -- Select an option -- </option>
                                        {% for customer in customers %}
                                            <option value="{{customer.Customer_ID}}">{{customer.First_Name}} {{customer.Last_Name}} </option> 
                                            {% endfor %}
                                        </select>
                                        <label>Appointment Date</label>
                                        <input type="date" name="date" class="form-control">
                                  
                            </div>
                            <div class="modal-footer">
                                <input type='submit' class="btn btn-secondary" value="Save">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </form>
                            </div>
                        </div>
                        </div>
                    </div>
                    <p>
                       <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    Customer
                                   </th>
                                <th>
                                    Appointment Date
                                </th>
                                <th>
                                    Event Order
                                   </th>
                            
                               <th>

                                    </th>
                                <th>
                                    </th>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   {% for appointment in appointments %}
                                   <tr>
                                    
                                        <input type="hidden" name="check" value="update">
                                        <td>{{appointment.First_Name}} {{appointment.Last_Name}}</td>
                                        <td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#dateModal{{appointment.Appointment_ID}}">{{appointment.Date.strftime('%m-%d-%Y')}}</button></td>
                                        <td> {% if appointment.Event_Order_ID != None %}
                                            <a href=/viewEvent/{{appointment.Event_Order_ID}}>View Event</a>
                                            <td></td>
                                            {% else %}
                                            <form action = "{{ request.path }}" method = "post">
                                                <input type="hidden" name="check" value="addEvent">
                                                <input type="hidden" name="apptID" value="{{appointment.Appointment_ID}}">
                                                <select class="form-control" name="event">
                                                <option disabled selected value> -- Select an Event -- </option>
                                                {% for event in events %}
                                                <option value="{{event.Event_Order_ID}}">ID: {{event.Event_Order_ID}} Date: {{event.Event_Time}} </option> 
                                                {% endfor %}
                                            </select>
                                            <td><input type='submit' class="btn btn-secondary" value="Save Event"></td>
                                            </form>
                                            {% endif %}
                                 <!-- Delete Form Start-->
                                            <form action ="{{ request.path }}" method = 'post'>
                                                <!-- Hidden Field to validate which request to use in the route in views.py (name='check' value='Name to the request portion')-->
                                            <input type="hidden" name="check" value="deleteAppointment">
                                            <!-- Appointment ID to delete name='Name Field to the request in back end' value='the ID to the object you want to delete'-->
                                            <input type="hidden" name="appointmentID" value="{{appointment.Appointment_ID}}">
                                        <td><button type="submit" class="btn"><img src="{{url_for('static', filename='trash3-fill.svg')}}"></button></a></td>
                                        </form>
                                    <!-- Delete END -->
                                
                                   </tr>                   
                                        {% endfor %}
                                    </tbody>
                                        </table>
                            </p>             
                </div>
            </div>     
        </div>
{% for appointment in appointments %}
        <div class="modal fade" id="dateModal{{appointment.Appointment_ID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Appointment for: {{appointment.First_Name}} {{appointment.Last_Name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form action = "{{ request.path }}" method = "post">
                        <input type="hidden" name="check" value="dateUpdate">
                        <input type="hidden" name="appointmentID" value="{{appointment.Appointment_ID}}">
                            <label>Appointment Date</label>
                            <input type="date" name="date"  value={{appointment.Date}} class="form-control">
                        </div>
                        <div class="modal-footer">
                            <input type='submit' class="btn btn-secondary" value="Save">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </form>
                        </div>
                    </div>
                    </div>
                </div>
                            {% endfor %}
        {% endblock %}
