{% extends "base.html" %}
{% block active %}
<a class="nav-link " href="/">Home</a>
</li>
<li class="nav-item">
<a class="nav-link active" href="/Appointments">Appointments</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Customer">Customers</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Employee">Employees</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/EventOrders">Event Orders</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Payment">Payments</a> 
</li>
<li class="nav-item">
<a class="nav-link" href="/Vendor">Vendors</a>  
</li>
<li class="nav-item">
    <a class="nav-link" href="/Misc">Misc</a>
    </li>
<li class="nav-item">
    <a class="nav-link" href="/Reports">Reports</a>
    </li>
{% endblock %}

    {% block content %}
    <div class="container-fluid text-center">          
        <div class="p-5 mb-4 rounded-3"> 
            <div class="container py-2 text-center">
                <div class="d-flex justify-content-start"> 
                    <h1 class="font-weight-bold px-2 py-4">Appointments</h1>
                    </div>                  
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                       {% for message in messages %}
                       <div class="alert alert-danger" role="alert">
                          {{ message }}
                        </div>
                       {% endfor %}
                    {% endif %}
                 {% endwith %}
                
                    
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New Appointment</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <form action = "{{ request.path }}" method = "post">
                                    <input type="hidden" name="check" value="newAppointment">
                                    <label>Customer</label>
                                    <select class="form-control" name="customerID">
                                        <option disabled selected value> -- Select an option -- </option>
                                        {% for customer in customers %}
                                            <option value="{{customer.Customer_ID}}">{{customer.First_Name}} {{customer.Last_Name}} </option> 
                                            {% endfor %}
                                        </select>
                                        <label>Appointment Date</label>
                                        <input type="date" name="date" class="form-control">
                                        <label>Time</label>
                                        <select class="form-control" name="time" required>
                                            <option value="8:00">8:00 A.M</option>
                                            <option value="8:30">8:30 A.M</option>
                                            <option value="9:00">9:00 A.M</option>
                                            <option value="9:00">9:30 A.M</option>
                                            <option value="10:00">10:00 A.M</option>
                                            <option value="10:30">10:30 A.M</option>
                                            <option value="11:00">11:00 A.M</option>
                                            <option value="11:30">11:30 A.M</option>
                                            <option value="12:00">12:00 P.M</option>
                                            <option value="12:30">12:30 P.M.</option>
                                            <option value="13:00">1:00 P.M.</option>
                                            <option value="13:30">1:30 P.M.</option>
                                            <option value="14:00">2:00 P.M.</option>
                                            <option value="14:30">2:30 P.M.</option>
                                            <option value="15:00">3:00 P.M.</option>
                                            <option value="15:30">3:30 P.M.</option>
                                            <option value="16:00">4:00 P.M.</option>
                                            <option value="16:30">4:30 P.M.</option>
                                            <option value="17:00">5:00 P.M.</option>
                                            <option value="17:30">5:30 P.M.</option>
                                        </select>                                     
                                </div>
                            <div class="modal-footer">
                                <input type='submit' class="btn btn-secondary" value="Save">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </form>
                            </div>
                        </div>
                        </div>
                    </div>
                    <p>
                       <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    Customer
                                   </th>
                                <th>
                                    Appointment Date
                                </th>
                                <th>
                                    Time
                                </th>
                                <th>
                                    Event Order
                                   </th>
                                    <th>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                            Add Appointment
                                          </button>
                                    </th>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   {% for appointment in appointments %}
                                   <tr>
                                    
                                
                                    
                                        <td>{{appointment.First_Name}} {{appointment.Last_Name}}</td>
                                        <form action = "{{ request.path }}" method = "post">
                                            
                                        <input type="hidden" name="check" value="updateAppointment">
                                        <input type="hidden" name="apptID" value="{{appointment.Appointment_ID}}">
                                        <td><input type='date' class="form-control" value="{{appointment.Datetime.strftime('%Y-%m-%d')}}" name='updateDate'></td>
                                        <td> <select class="form-control" name="updateTime" required>
                                            <option value="{{appointment.Datetime.strftime('%H:%M')}}">{{appointment.Datetime.strftime('%I:%M %p')}}</option>
                                            <option value="8:00">8:00 A.M</option>
                                            <option value="8:30">8:30 A.M</option>
                                            <option value="9:00">9:00 A.M</option>
                                            <option value="9:00">9:30 A.M</option>
                                            <option value="10:00">10:00 A.M</option>
                                            <option value="10:30">10:30 A.M</option>
                                            <option value="11:00">11:00 A.M</option>
                                            <option value="11:30">11:30 A.M</option>
                                            <option value="12:00">12:00 P.M</option>
                                            <option value="12:30">12:30 P.M.</option>
                                            <option value="13:00">1:00 P.M.</option>
                                            <option value="13:30">1:30 P.M.</option>
                                            <option value="14:00">2:00 P.M.</option>
                                            <option value="14:30">2:30 P.M.</option>
                                            <option value="15:00">3:00 P.M.</option>
                                            <option value="15:30">3:30 P.M.</option>
                                            <option value="16:00">4:00 P.M.</option>
                                            <option value="16:30">4:30 P.M.</option>
                                            <option value="17:00">5:00 P.M.</option>
                                            <option value="17:30">5:30 P.M.</option>
                                        </select>    
                                             </td>
                                        <td> {% if appointment.Event_Order_ID != None %}
                                            <a href=/viewEvent/{{appointment.Event_Order_ID}}>View Event</a>
                                            <input type="hidden" value="{{appointment.Event_Order_ID}}" name="event">
                                            {% else %}
                                                <select class="form-control" name="event">
                                                <option disabled selected value> -- Select an Event -- </option>
                                                {% for event in events %}
                                                <option value="{{event.Event_Order_ID}}">ID: {{event.Event_Order_ID}} Customer: {{event.First_Name}} {{event.Last_Name}} </option> 
                                                {% endfor %}
                                                {% endif %}
                                            </select>
                                            <td>
                                                <div class="d-flex flex-row">
                                                <div class="p-2">
                                                    <button type='submit' class='btn btn-secondary'>Save</button>
                                                </div>
                                            </form>
                                            
                                 <!-- Delete Form Start-->
                                            <form action ="{{ request.path }}" method = 'post'>
                                                <!-- Hidden Field to validate which request to use in the route in views.py (name='check' value='Name to the request portion')-->
                                            <input type="hidden" name="check" value="deleteAppointment">
                                            <!-- Appointment ID to delete name='Name Field to the request in back end' value='the ID to the object you want to delete'-->
                                            <input type="hidden" name="delAppointmentID" value="{{appointment.Appointment_ID}}">
                                        <div class="p-2"><button type="submit" class="btn"><img src="{{url_for('static', filename='trash3-fill.svg')}}"></button>
                                        </div>
                                    </div></td>
                                        </form>
                                    <!-- Delete END -->
                                 </tr>                   
                                        {% endfor %}
                                    </tbody>
                                        </table>
                            </p>             
                </div>
            </div>     
        </div>
{% for appointment in appointments %}
        <div class="modal fade" id="dateModal{{appointment.Appointment_ID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Appointment for: {{appointment.First_Name}} {{appointment.Last_Name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form action = "{{ request.path }}" method = "post">
                        <input type="hidden" name="check" value="dateUpdate">
                        <input type="hidden" name="appointmentID" value="{{appointment.Appointment_ID}}">
                            <label>Appointment Date</label>
                            <input type="date" name="date"  value={{appointment.Date}} class="form-control">
                        </div>
                        <div class="modal-footer">
                            <input type='submit' class="btn btn-secondary" value="Save">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </form>
                        </div>
                    </div>
                    </div>
                </div>
                            {% endfor %}
        {% endblock %}
