{% extends "base.html" %}

{% block active %}
<a class="nav-link " href="/">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Appointments">Appointments</a>
</li>
<li class="nav-item">
<a class="nav-link active" href="/Customer">Customers</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Employee">Employees</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/EventOrders">Event Orders</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Payment">Payments</a> 
</li>
<li class="nav-item">
<a class="nav-link" href="/Vendor">Vendors</a>  
</li>
<li class="nav-item">
    <a class="nav-link" href="/Misc">Misc</a>
    </li>
<li class="nav-item">
    <a class="nav-link" href="/Reports">Reports</a>
    </li>

{% endblock %}

     {% block content %}
      
    
     <div class="container-md py-4 px-5">
        
            <h1 class="font-weight-bold px-2 py-2">Customers</h1>
                    
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-3 text-center">
                    
                                     
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                       {% for message in messages %}
                       {% if message == 'Cannot delete customer with an associated event' %}
                       <div class="alert alert-danger" role="alert">
                        {{ message }}
                        </div>
                           {% else %}
                           <div class="alert alert-success" role="alert">
                            {{ message }}
                            </div>
                               {% endif %}
                        
                       {% endfor %}
                    {% endif %}
                 {% endwith %}
               
                 <div class="col-4">

                 </div>
                 </div>
                 </div>
            
                                <!-- Modal Button for Customer -->
                                  
                    <table class='table table-striped'>
                        <thead class="thead">
                        <th class="header" scope="col">
                            Name
                            </th>
                        
                        <th class="header" scope="col">
                            Phone 
                        </th>
                        <th class="header" style='width: 15%' scope="col">
                            Email
                        </th>
                        <th class="header" scope="col">
                            Address
                        </th>
                        <th class="header" scope="col">
                            City
                        </th>
                        <th class="header" scope="col">
                            Zip Code
                        </th>
                        <th class="header" scope="col">
                            State
                        </th>
                        <th class="header" scope="col"><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                            Add Customer
                            </button></th>
                
                
                            </thead>
                            <tbody>
                                {% for customer in customers %}
                                <tr>
                            
                                <td>{{ customer.Last_Name }}, {{ customer.First_Name}}</td>
                                <td>{{ customer.Phone }}</td>
                                <td>{{ customer.Email }}</td>
                                <td>{{ customer.Mailing_Address }}</td>
                                <td>{{ customer.Mailing_City }}</td>
                                <td>{{ customer.Mailing_Zip_Code }}</td>
                                <td>{{ customer.State_Abbreviation }}</td>
                                
                                <td>
                                    <div class="d-flex flex-row">
                                    <div class="p-2"><button class="btn btn-secondary" data-toggle="modal" data-target="#updateCustomerModal{{customer.Customer_ID}}">Edit</button></div>
                                <form action = "{{ request.path }}" method = "post">
                                    <input type="hidden" name="check" value="deleteCustomer">
                                    <input type="hidden" name="deleteCustomerID" value="{{customer.Customer_ID}}">
                                    <div class="p-2"><button type="submit" class="btn"><img src="{{url_for('static', filename='trash3-fill.svg')}}"></button></div>
                                </div>
                                </td>
                                    </form>
                            </tr>
                            {% endfor %}
                            </tbody>
                                    
                        </table>
                        <!-- Google Form Section. Delete if Unwanted -->
                        <div class="col-xs-5">
                            
                                Form Link: &nbsp; <input type="text" name="formlink" value="https://forms.gle/ysBUEHA1uGV5rDE39" readonly>
                                &nbsp;&nbsp; <a href="https://docs.google.com/spreadsheets/d/11FHvhwfJ2aJPiQV-iCFEYHiK-9URhqE63f135jyFPB8/edit?usp=sharing">Form Submissions Sheet</a>
                            </div>
                                
                            
                        
                        <!-- End of Form Section -->
    </p>
    </div>
    

                </div>
            </div>        

        <!-- Modal body to add Customer -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <label style="color:red">*</label> <label>Indicates required field</label> 
                    <form action = "{{ request.path }}" method = "post">
                        <div class="row">
                            <div class="col-5">
                        <input type="hidden" name="check" value="addCustomer">
                        <label>First Name</label> <label style="color:red">*</label>
                        <input type="text" class="form-control" pattern="[A-Za-z ]{1,250}" name="firstName" maxlength="250" required>
                        </div>
                        <div class="col">
                        <label>Last Name</label> <label style="color:red">*</label>
                        <input type="text" class="form-control"  pattern="[A-Za-z ]{1,250}" name="lastName" maxlength="250" required>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-5">
                        <label>Phone</label> <label style="color:red">*</label>   
                        <input type="tel" class="form-control" name="phone" pattern="[(0-9)]{3}-[0-9]{3}-[0-9]{4}"  required>
                        <small class="form-text" text-muted>Format: 555-456-7890</small>
                        </div>
                        <br>
                        <div class="col">
                        <label>Email</label> <label style="color:red">*</label>
                        <input type="email" class="form-control" name="email" maxlength="250" required>
                        <small class="form-text" text-muted>Format: username@email.com</small>
                        </div>
                        </div>
                        <br>
                        <label>Address</label> <label style="color:red">*</label>
                        <input type="text" class="form-control" pattern="[A-Za-z0-9 ]{1,250}" name="address" maxlength="250" required>
                        <div class="row">
                            <div class="col-6">
                        <label>City</label> <label style="color:red">*</label>
                        <input type="text" class="form-control" pattern="[A-Za-z ]{1,250}" name="city" maxlength="250" required>
                        </div>
                            <div class="col-3">
                        <label>State</label> <label style="color:red">*</label>
                        <select class="form-control" name="state" value="1">
                            {% for state in stateList %}
                                <option value="{{state.State_ID}}">{{state.State_Name}}</option> 
                            {% endfor %}
                        </select>
                        </div>
                        <div class='col'>
                        <label>Zip Code</label> <label style="color:red">*</label>
                        <input type="text" class="form-control"  pattern="[(0-9)]{1,5}" name="zip" required>
                        </div>
                        </div>
                   
                        
                   
                </div>
                <div class="modal-footer">
                    
                    <input type='submit' class="btn btn-secondary" value="Save">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
                </div>
            </div>
            </div>
        </div>

        <!-- Modal to update Customer -->
        {% for customer in customers %}
        <div class="modal fade" id="updateCustomerModal{{customer.Customer_ID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body"> 
                    <label style="color:red">*</label> <label>Indicates required field</label> 
                    <br>
                    <form action = "{{ request.path }}" method = "post">
                        <div class="row">
                            <div class="col-5">
                            <input type="hidden" name="check" value="updateCustomer">
                            <input type="hidden" name="customerID" value="{{customer.Customer_ID}}">
                            <label>First Name</label> <label style="color:red">*</label>
                            <input type="text" pattern="[A-Za-z]{1,250}" class="form-control" name="firstName" value="{{customer.First_Name}}" required>
                            </div>
                            <div class="col">
                            
                        <label>Last Name</label> <label style="color:red">*</label>
                        <input type="text" pattern="[A-Za-z]{1,250}" class="form-control" name="lastName" value="{{customer.Last_Name}}" required>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                        <label>Phone</label> <label style="color:red">*</label>
                        <input type="tel" class="form-control" name="phone" value="{{customer.Phone}}" pattern="[(0-9)]{3}-[0-9]{3}-[0-9]{4}" required>
                        <small class="form-text" text-muted>Format: 555-456-7890</small>
                        </div>
                        <br>
                        <div class="col">
                        <label>Email</label> <label style="color:red">*</label>
                        <input type="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control" name="email" value="{{customer.Email}}" required>
                        <small class="form-text" text-muted>Format: username@email.com</small>
                        
                    </div>
                    </div>  
                    <br>
                        <label>Address</label> <label style="color:red">*</label>
                        <input type="text" pattern="[A-Za-z0-9 ]{1,250}" class="form-control" name="address" value="{{customer.Mailing_Address}}" required>
                        <div class="row">
                            <div class="col-6">
                        <label>City</label> <label style="color:red">*</label>
                        <input type="text"  pattern="[A-Za-z ]{1,250}" class="form-control" name="city" value="{{customer.Mailing_City}}" required>
                    </div>
                    <div class="col-3">
                        <label>State</label> <label style="color:red">*</label>
                        <select class="form-control" name="state">
                            <option selected value="{{customer.State_ID}}">{{customer.State_Name}}</option>
                            {% for state in stateList %}
                                <option value="{{state.State_ID}}">{{state.State_Name}}</option> 
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label>Zip Code</label> <label style="color:red">*</label>
                        <input type="text" pattern="[(0-9)]{1,5}" min="0" step="1"  class="form-control" name="zip" value="{{customer.Mailing_Zip_Code}}" required >
                    </div>
                    </div>
                </div>
                     
                        
               
                <div class="modal-footer">
                    
                    <input type='submit' class="btn btn-secondary" value="Save">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
        {% endblock %}