{% extends "base.html" %}

{% block active %}
<a class="nav-link " href="/">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Appointments">Appointments</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Customer">Customers</a>
</li>
<li class="nav-item">
<a class="nav-link active" href="/Employee">Employees</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/EventOrders">Event Orders</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Payment">Payments</a> 
</li>
<li class="nav-item">
<a class="nav-link" href="/Vendor">Vendors</a>  
</li>
<li class="nav-item">
    <a class="nav-link" href="/Misc">Misc</a>
    </li>
<li class="nav-item">
    <a class="nav-link" href="/Reports">Reports</a>
    </li>
{% endblock %}

     {% block content %}
            
        
     <div class="container-md py-4 px-5">
                <div class="d-flex justify-content-start"> 
                    <h1 class="font-weight-bold px-2 py-4">Employees</h1>
                    </div>  
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                       {% for message in messages %}
                       {% if message == 'Delete is not possible for this record' %}
                       <div class="alert alert-danger" role="alert">
                        {{ message }}
                        </div>
                           {% else %}
                           <div class="alert alert-success" role="alert">
                            {{ message }}
                            </div>
                               {% endif %}
                        
                       {% endfor %}
                    {% endif %}
                 {% endwith %}
                

                      
                        
                            <table class='table table-striped'>
                               <thead class="thead">
                                <th class="header" scope="col">
                                    First Name
                                </th>
                                <th class="header" scope="col">
                                    Last Name
                                </th>
                                <th class="header" scope="col">
                                    Address
                                </th>
                                <th class="header" scope="col">
                                    City
                                </th>
                                <th class="header" scope="col">
                                    State
                                </th>
                                <th class="header" scope="col">
                                    Zip Code
                                </th>
                                <th class="header" scope="col">
                                    Phone
                                </th>
                                <th class="header" scope="col">
                                    Email
                                </th>
                                <th class="header" scope="col">
                                    Position
                                </th>
                                <th class="header" scope="col"><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                                    Add Employee
                                 </button></th>
                            </thead>
                            <tbody>
                                {% for employee in employees %}
                                <tr>
                                <td>{{ employee.Emp_First_Name}}</td>
                                <td>{{ employee.Emp_Last_Name }}</td>
                                <td>{{ employee.Emp_Mailing_Address }}</td>
                                <td>{{ employee.Emp_Mailing_City }}</td>
                                <td>{{ employee.State_Abbreviation }}</td>
                                <td>{{ employee.Emp_Zip_Code }}</td>
                                <td>{{ employee.Emp_Phone }}</td>
                                <td>{{ employee.Emp_Email }}</td>
                                <td>{{ employee.Emp_Position }}</td>
                                <td>
                                    <div class="d-flex flex-row">
                                    <div class="p-2">
                                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#updateEmployeeModal{{employee.Emp_ID}}">
                                            Edit
                                        </button>
                                        </div>
                                 <form action ="{{ request.path }}" method = 'post'>
                                    <!-- Hidden Field to validate which request to use in the route in views.py (name='check' value='Name to the request portion')-->
                                <input type="hidden" name="check" value="deleteEmployee">
                                <!-- Employee ID to delete name='Name Field to the request in back end' value='the ID to the object you want to delete'-->
                                <input type="hidden" name="deleteEmployeeID" value="{{employee.Emp_ID}}">
                                <div class="p-2">
                                    <button type="submit" class="btn"><img src="{{url_for('static', filename='trash3-fill.svg')}}"></button>
                                </div>
                            </div></td>
                                </form> 
                            </tr>
                            {% endfor %}
                            </tbody>
                                    
                        </table>
    

                   

                </div>
            </div>        
        </div>
    
        <!-- Modal to add employee -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form action = "{{ request.path }}" method = "post">
                        <input type="hidden" name="check" value="addEmployee">
                        <label style="color:red">*</label> <label>Indicates required field</label> 
                        <div class="row">
                            <div class="col">
                        
                        <input type="hidden" name="employeeID">
                        <label>First Name</label> <label style="color:red">*</label>
                        <input type="text" pattern="[A-Za-z]{1,250}" class="form-control" name="firstName" maxlength="250" required>
                        </div>
                        <div class="col">
                        <label>Last Name</label> <label style="color:red">*</label>
                        <input type="text" pattern="[A-Za-z]{1,250}" class="form-control" name="lastName" maxlength="250" required>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label>Phone</label> <label style="color:red">*</label>
                                <input type="tel" class="form-control" name="phone" pattern="[(0-9)]{3}-[0-9]{3}-[0-9]{4}" required>
                                    <small>Format: 555-456-7890</small>
                                    </div>
                            <div class="col">
                                <label>Email</label> <label style="color:red">*</label>
                                <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control" name="email" maxlength="250" required> 
                                <small class="form-text" text-muted>Format: username@email.com</small> 
                            </div>
                        </div>
                        <br>
                        <label>Position</label> <label style="color:red">*</label>
                        <input type="text" pattern="[A-Za-z ]{1,250}" class="form-control" name="position" required>
                        <br>
                        <div class="row">
                            <div class="col">
                        <label>Address</label> <label style="color:red">*</label>
                        <input type="text"  pattern="[A-Za-z0-9 ]{1,250}" class="form-control" name="address" maxlength="250" required>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                        <label>City</label> <label style="color:red">*</label>
                        <input type="text"  pattern="[A-Za-z]{1,250}" class="form-control" name="city" maxlength="250" required>
                        </div>
                            <div class="col-3">
                        <label>State</label> <label style="color:red">*</label>
                        <select class="form-control" name="state">
                            <option selected disabled></option>
                            {% for state in stateList %}
                                <option value="{{state.State_ID}}">{{state.State_Name}}</option> 
                            {% endfor %}
                        </select>
                        </div>
                        <div class="col-3">
                        <label>Zip Code</label> <label style="color:red">*</label>
                        <input type="text" pattern="[(0-9)]{1,5}" maxlength="10"  class="form-control" name="zip" input required >
                        </div>
                        </div>              
                        
                </div>
                <div class="modal-footer">
                    
                    <input type='submit' class="btn btn-secondary" value="Save">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
                </div>
            </div>
            </div>
        </div>
    <!-- modal to update employee-->
    {% for employee in employees %}
    <div class="modal fade" id="updateEmployeeModal{{employee.Emp_ID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Employee</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <label style="color:red">*</label> <label>Indicates required field</label> 
                <form action = "{{ request.path }}" method = "post">
                    <input type="hidden" name="check" value="updateEmployee">
                    <div class="row">
                        <div class="col">
                    
                    <input type="hidden" name="employeeID" value="{{employee.Emp_ID}}">
                    <label>First Name</label> <label style="color:red">*</label>
                    <input type="text" pattern="[A-Za-z]{1,250}" class="form-control" name="firstName" value="{{employee.Emp_First_Name}}" maxlength="250" required>
                    </div>
                    <div class="col">
                    <label>Last Name</label> <label style="color:red">*</label>
                    <input type="text" pattern="[A-Za-z]{1,250}" class="form-control" name="lastName" value="{{employee.Emp_Last_Name}}" maxlength="250" required>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>Phone</label> <label style="color:red">*</label>
                            <input type="tel" class="form-control" name="phone" pattern="[(0-9)]{3}-[0-9]{3}-[0-9]{4}" value="{{employee.Emp_Phone}}" required>
                                <small>Format: 555-456-7890</small>
                                </div>
                        <div class="col">
                            <label>Email</label> <label style="color:red">*</label>
                            <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control" name="email" value="{{employee.Emp_Email}}" maxlength="250" required> 
                            <small class="form-text" text-muted>Format: username@email.com</small> 
                        </div>
                    </div>
                    <br>
                    <label>Position</label> <label style="color:red">*</label>
                    <input type="text" pattern="[A-Za-z ]{1,250}" class="form-control" name="position" value="{{employee.Emp_Position}}" required>
                    <br>
                    <div class="row">
                        <div class="col">
                    <label>Address</label> <label style="color:red">*</label>
                    <input type="text"  pattern="[A-Za-z0-9 ]{1,250}" class="form-control" name="address" value="{{employee.Emp_Mailing_Address}}" maxlength="250" required>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                    <label>City</label> <label style="color:red">*</label>
                    <input type="text"  pattern="[A-Za-z]{1,250}" class="form-control" name="city" value="{{employee.Emp_Mailing_City}}" maxlength="250" required>
                    </div>
                        <div class="col-3">
                    <label>State</label> <label style="color:red">*</label>
                    <select class="form-control" name="state">
                        <option selected value="{{employee.State_ID}}">{{employee.State_Name}}</option>
                        {% for state in stateList %}
                            <option value="{{state.State_ID}}">{{state.State_Name}}</option> 
                        {% endfor %}
                    </select>
                    </div>
                    <div class="col-3">
                    <label>Zip Code</label> <label style="color:red">*</label>
                    <input type="text" pattern="[(0-9)]{1,5}" maxlength="10"  class="form-control" name="zip" value="{{employee.Emp_Zip_Code}}" input required >
                    </div>
                    </div>              
        
                    
            </div>
            <div class="modal-footer">
                
                <input type='submit' class="btn btn-secondary" value="Save">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </form>
            </div>
        </div>
        </div>
    </div>
    {% endfor %}
        {% endblock %}