{% extends "base.html" %}

     {% block content %}
     <div class="container">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5 text-center">
                    <h1 class="display-5 fw-bold">Event Order Line</h1>
                   
                      <!-- Will be added to event -->
                        
                            <table class='table'>
                                <th>
                                    Vendor ID
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Event Order ID
                                </th>
                                <th>
                                    Product Services ID
                                </th>
                                 
                            </tr>
                            </thead>
                            <tbody>
                                {% for event_order_line in event_order_lines %}
                                <tr>
                                <td>{{ event_order_line.Vendor_ID }}</td>
                                <td>{{ event_order_line.Event_Order_Status_ID }}</td>
                                <td>{{ event_order_line.Event_Order_Line_Date }}</td>
                                <td>{{ event_order_line.Event_Order_ID }}</td>
                                <td>{{ event_order_line.Product_Services_ID}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                                    
                        </table>
    

                   

                </div>
            </div>        
        </div>
        {% endblock %}