{% extends "base.html" %}
{% block active %}
<a class="nav-link " href="/">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Appointments">Appointments</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Customer">Customers</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Employee">Employees</a>
</li>
<li class="nav-item">
<a class="nav-link active" href="/EventOrders">Event Orders</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Payment">Payments</a> 
</li>
<li class="nav-item">
<a class="nav-link" href="/Vendor">Vendors</a>  
</li>
{% endblock %}

    {% block content %}
        <div class="container">          
            <div class="p-5 mb-4 rounded-3">
                <div class="container-fluid py-5 text-center">                           
                    <p>
                       <table class="table">
                        <thead>
                            <tr>
                                <th>Test Header
                                   </th>
                                   <th>Test Column</th>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   {% for data in test_table %}
                                   <tr>
                                        <td>{{data.Test_Data}}</td>
                                        <td>{{data.Test_Data2}}</td>
                                   </tr>                   
                                        {% endfor%}
                                    </tbody>
                                        </table>
                     
                    </p>
                </div>
            </div>     
        </div>
        {% endblock %}
