{% extends "base.html" %}

     {% block content %}
     <div class="container">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5 text-center">
                    <h1 class="display-5 fw-bold">Event Status</h1>
                   
                      <!-- Will be added to event -->
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Change Event Status
                      </button>
                    
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Change Event Status</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <form action = "{{ request.path }}" method = "put">
                                    <label>Event</label>
                                    <select class="form-control" name="eventName">
                                        {% for events in event %}
                                            <option value="{{events.Event_Order_ID}}">{{events.Event_Time.strftime('%m-%d-%Y')}} </option> 
                                            {% endfor %}
                                        </select>
                                        <label>Event Status</label>
                                        <select class="form-control" name="eventStat" required>                                           
                                            {% for event_status in events_status %}
                                                <option value="{{event_status.Event_Status_ID}}">{{event_status.Event_Status}}</option>
                                                {% endfor %}
                                                <option disabled selected value> -- Select an option -- </option>
                                            </select>
                                  
                            </div>
                            <div class="modal-footer">
                                <input type='submit' class="btn btn-secondary" value="Save">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </form>
                            </div>
                        </div>
                        </div>
                    </div>  



                            <table class='table'>
                               
                                <th>
                                    Event Status
                                </th>
                                 
                            </tr>
                            </thead>
                            <tbody>
                                {% for event_status in events_status %}
                                <tr>
                                <td>{{ event_status.Event_Status}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                                    
                        </table>
    

                   

                </div>
            </div>        
        </div>
        {% endblock %}