{% extends "base.html" %}

{% block active %}
<a class="nav-link " href="/">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Appointments">Appointments</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Customer">Customers</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Employee">Employees</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/EventOrders">Event Orders</a>
</li>
<li class="nav-item">
<a class="nav-link active" href="/Payment">Payments</a> 
</li>
<li class="nav-item">
<a class="nav-link" href="/Vendor">Vendors</a>  
</li>
<li class="nav-item">
    <a class="nav-link" href="/Misc">Misc</a>
    </li>

{% endblock %}

     {% block content %}
     <div class="container-fluid text-center">          
        <div class="p-5 mb-4 rounded-3">
            <h1 class="display-5 fw-bold">Payments</h1>
            <div class="container py-5 text-center">
                    <!-- Modal button for new Payment-->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPaymentModal">
                        Add Payment
                    </button>
                    </div>
                        
                            <table class='table table-striped'>
                                <thead class="thead-dark">
                                <th>
                                    Payment ID
                                </th>
                                <th>Payment Type</th>
                                <th>
                                    Event Order ID
                                </th>
                                <th>Customer</th>
                                <th>
                                    Payment Date Init
                                </th>
                                <th>
                                    Payment Date Full
                                </th>  
                                <th></th>
                                <th></th>                                                            
                           
                            </thead>
                            <tbody>
                                {% for payment in payments %}
                                <tr>
                                <td>{{ payment.Payment_Type_ID }}</td>
                                <td>{{ payment.Payment_Type_Name}}</td>
                                <td>{{ payment.Event_Order_ID }}</td>
                                <td>{{ payment.First_Name}} {{payment.Last_Name}}</td>
                                <td>{{ payment.Payment_Date_Init.strftime('%m-%d-%Y') }}</td>
                                <td>{{ payment.Payment_Date_Full.strftime('%m-%d-%Y') }}</td>
                                <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updatePaymentModal{{payment.Payment_ID}}">
                                    Edit
                                </button></td>
                                <td><a href="/deletePayment/{{payment.Payment_ID}}"><button type='button' class='btn btn-danger'>Delete</button></a></td>
                                
                            </tr>
                            {% endfor %}
                            </tbody>
                                    
                        </table>
    

                   

                </div>
            </div>        
        </div>

        <!-- Modal CREATE payment -->
        <div class="modal fade" id="addPaymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form action = "{{ request.path }}" method = "post">
                        <label>Payment Type</label>
                        <input type="hidden" name='check' value="addPayment">
                        <select class="form-control" name="payType">
                        <option disabled selected value> -- Select an option -- </option>
                            {% for type in types %}
                            <option value="{{type.Payment_Type_ID}}">{{type.Payment_Type_Name}}</option> 
                            {% endfor %}
                        </select>
                        <label>Event Order</label>
                        <select class="form-control" name="eventOrder">
                        <option disabled selected value> -- Select an option -- </option>
                            {% for event in events %}
                            <option value="{{event.Event_Order_ID}}">Event ID: {{event.Event_Order_ID}} Customer: {{ event.First_Name}} {{event.Last_Name}}</option>
                            {% endfor %}
                        </select>
                        <label>Initial Payment Date</label>
                        <input type="date" class="form-control" name="initDate">
                        <label>Full Payment Date</label>
                        <input type="date" class="form-control" name="fullDate">
                   
                    
                </div>
                <div class="modal-footer">
                    <input type='submit' class="btn btn-secondary" value="Save">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
                </div>
            </div>
            </div>
        </div>

        <!-- Modal UPDATE payment -->
        {% for payment in payments %}
        <div class="modal fade" id="updatePaymentModal{{payment.Payment_ID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Appointment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form action = "{{ request.path }}" method = "post">
                        <input type="hidden" name="check" value="updatePayment">
                        <input type="hidden" name="paymentID" value="{{payment.Payment_ID}}">
                        <label>Payment Type</label>
                        <select class="form-control" name="payType">
                        <option selected value="{{payment.Payment_Type_ID}}"> {{payment.Payment_Type_Name}} </option>
                            {% for type in types %}
                            <option value="{{type.Payment_Type_ID}}">{{type.Payment_Type_Name}}</option> 
                            {% endfor %}
                        </select>
                        <label>Event Order</label>
                        <select class="form-control" name="eventOrder">
                        <option selected value="{{payment.Event_Order_ID}}"> <b>Event ID:</b> {{payment.Event_Order_ID}} <b>Date:</b> {{ payment.First_Name}} {{payment.Last_Name}} </option>
                            {% for event in events %}
                            <option value="{{event.Event_Order_ID}}">Event ID: {{event.Event_Order_ID}} Customer: {{ event.First_Name}} {{event.Last_Name}}</option>
                            {% endfor %}
                        </select>
                        <label>Initial Payment Date</label>
                        <input type="date" class="form-control" value="{{payment.Payment_Date_Init}}" name="initDate">
                        <label>Full Payment Date</label>
                        <input type="date" class="form-control" value="{{payment.Payment_Date_Full}}" name="fullDate">
                   
                    
                </div>
                <div class="modal-footer">
                    <input type='submit' class="btn btn-secondary" value="Save">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
        {% endblock %}