{% extends "base.html" %}

{% block active %}
<a class="nav-link " href="/">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Appointments">Appointments</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Customer">Customers</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Employee">Employees</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/EventOrders">Event Orders</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Payment">Payments</a> 
</li>
<li class="nav-item">
<a class="nav-link" href="/Vendor">Vendors</a>  
</li>
<li class="nav-item">
    <a class="nav-link" href="/Misc">Misc</a>
    </li>
<li class="nav-item">
    <a class="nav-link active" href="/Reports">Reports</a>
    </li>

{% endblock %}
