{% extends "base.html" %}

     {% block content %}
     <div class="container">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5 text-center">
                    <h1 class="display-5 fw-bold">State</h1>
                   
                            <table class='table'>
                               
                                <th>
                                    State Name
                                </th>
                                <th>
                                    State Abbreviation
                                </th>
                                 
                            </tr>
                            </thead>
                            <tbody>
                                {% for state in states %}
                                <tr>
                                <td>{{ state.State_Name}}</td>
                                <td>{{ state.State_Abbreviation}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                                    
                        </table>
    

                   

                </div>
            </div>        
        </div>
        {% endblock %}