{% extends "base.html" %}

     {% block content %}
     <div class="container">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5 text-center">
                    <h1 class="display-5 fw-bold">Cha Cha App</h1>
                      
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    Customer Name
                                </th>
                                <th>
                                    Event Date
                                </th>
                                <th>Event Location</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for events in  event %}
                                <td>{{ events.First_Name }} {{ events.Last_Name }}</td>
                            
                                <td>{{ events.Event_Time }}</td>
                                <td>{{events.Event_Location_Name}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                                    
                        </table>
    

                   

                </div>
            </div>        
        </div>
        {% endblock %}