{% extends "base.html" %}

     {% block content %}
     <div class="container">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5 text-center">
                    <h1 class="display-5 fw-bold">Cha Cha App</h1>
                      
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    Customer Name
                                </th>
                                <th>
                                    Phone Number  
                                </th>
                                <th>
                                    Email
                                </th>
                            </tr>
                            </thead>
                            <tr>
                                {% for events in  event %}
                                <td>{{ events.First_Name }} {{ events.Last_Name }}</td>
                                <td>{{ events.Phone }}</td>
                                <td>{{ events.Email }}</td>
                                {% endfor %}
                            </tr>
                            </table>
                            <table class='table'>
                                <th>
                                    Event Date
                                </th>
                                <th>
                                    Theme
                                </th>
                                <th>
                                    Order Description
                                </th>
                                <th>
                                    Delivery
                                </th>
                                <th>
                                    Setup
                                </th>
                                <th>
                                    Location
                                </th>
                                <th>
                                    Restrictions
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>
                                    City
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for events in  event %}
                                <td>{{ events.Event_Time }}</td>
                                <td>{{ events.Event_Theme }}</td>
                                <td>{{ events.Event_Order_Desc }}</td>
                                <td>{{ events.Event_Setup }}</td>
                                <td>{{ events.Event_Delivery }}</td>
                                <td>{{ events.Event_Location_Name }}</td>
                                <td>{{ events.Event_Restriction_Desc }}</td>
                                <td>{{ events.Event_Address }}</td>
                                <td>{{ events.Event_City }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                                    
                        </table>
    

                   

                </div>
            </div>        
        </div>
        {% endblock %}