<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

   
        {% with messages = get_flashed_messages() %}
        {% if messages %}
           {% for message in messages %}
           {% if message == 'Delete is not possible for this record' %}
           <div class="alert alert-danger" role="alert">
            {{ message }}
            </div>
               {% else %}
               <div class="alert alert-success" role="alert">
                {{ message }}
                </div>
                   {% endif %}
            
           {% endfor %}
        {% endif %}
     {% endwith %}
   
<div class="container-md px-5 py-2">
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
        Add Customer
    </button>
    
    <!-- Modal button for new appointment-->
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#AppointmentModal">
        Add Appointment
    </button>
    
    <!-- Modal button for add event-->
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#EventModal">
        Add Event
    </button>
    <br>
    <br>
    
<div class="row">        
<div class="col-lg-6">
<h2 class="font-weight-bold px-2">Events Within 30 Days</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 25%">
                Customer Name
            </th>
            <th style="width: 25%">
                Event Date
            </th>
            <th style="width: 20%">Status</th>
            <th style="width: 20%">View</th>
            
        </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            {% if customer.Event_Status != 'Completed' %}
            <tr>
            <td>{{ customer.First_Name }} {{ customer.Last_Name }}</td>
                
            <td>{{ customer.Event_Time.strftime('%m-%d-%Y') }}</td>
            <td>{{ customer.Event_Status}} </td>
            <td><a href="/viewEvent/{{customer.Event_Order_ID}}">View</a></td>
            </tr>
            {% endif %}
                {% endfor %}
        </tbody>
                
    </table>
        </div>
        <div class="col-lg-6">
            <h2 class="font-weight-bold px-2">Appointments Within 30 Days</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Customer Name
                            </th>
                            <th>
                                Appointment Date
                            </th>
                        </tr>
                        </thead>
                        {% for appointment in appointments %}
                        <tr>
                            <td>{{appointment.First_Name}} {{appointment.Last_Name}}</td>
                            <td>{{appointment.Datetime.strftime('%m-%d-%Y') }}</td>
                        </tr>
                        {% endfor %}
                    </thead>
                </table>
        
    </div>
    </div>
    </div>
    </div>
</div>

<!-- Modal body for Customer -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <label style="color:red">*</label> <label>Indicates required field</label> 
            <br>
            <form action = "{{ request.path }}" method = "post">
                
                <div class="row">
                <div class="col-5">
            
                 <input type="hidden" name="check" value="customer">
                <label>First Name</label> <label style="color:red">*</label>
                <input type="text" class="form-control" pattern="[A-Za-z ]{1,250}" name="firstName" maxlength="250" required>
                </div>
                <div class="col">
                <label>Last Name</label> <label style="color:red">*</label>
                <input type="text" class="form-control"  pattern="[A-Za-z ]{1,250}" name="lastName" maxlength="250" required>
                </div>
                </div>
                <div class="row">
                <div class="col-5">
                <label>Phone</label> <label style="color:red">*</label>   
                <input type="tel" class="form-control" name="phone" pattern="[(0-9)]{3}-[0-9]{3}-[0-9]{4}"  required>
                <small class="form-text" text-muted>Format: 555-456-7890</small>
                </div>
                <br>
                <div class="col">
                <label>Email</label> <label style="color:red">*</label>
                
                <input type="email" class="form-control" name="email" maxlength="250" required>
                <small class="form-text" text-muted>Format: username@email.com</small>
                </div>
                </div>
                <br>
                <label>Address</label> <label style="color:red">*</label>
                <input type="text" class="form-control" pattern="[A-Za-z0-9 ]{1,250}" name="address" maxlength="250" required>
                <div class="row">
                    <div class="col-6">
                <label>City</label> <label style="color:red">*</label>
                <input type="text" class="form-control" pattern="[A-Za-z]{1,250}" name="city" maxlength="250" required>
                </div>
                    <div class="col-3">
                <label>State</label> <label style="color:red">*</label>
                <select class="form-control" name="state" value="1">
                    {% for state in stateList %}
                        <option value="{{state.State_ID}}">{{state.State_Name}}</option> 
                    {% endfor %}
                </select>
                </div>
                <div class='col'>
                <label>Zip Code</label> <label style="color:red">*</label>
                <input type="text" class="form-control"  pattern="[(0-9)]{1,5}" name="zip" required>
                </div>
                </div>
           
                
           
        </div>
        <div class="modal-footer">
            
            <input type='submit' class="btn btn-secondary" value="Save">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </form>
        </div>
    </div>
    </div>
</div>



<!-- Modal body for new appointment -->
    <div class="modal fade" id="AppointmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Appointment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <label style="color:red">*</label> <label>Indicates required field</label> 
                <div class="row">
                    <div class="col-6">
                <form action = "{{ request.path }}" method = "post">
                    <input type="hidden" name="check" value="appointment">
                    <label>Customer</label> <label style="color:red">*</label>
                    <select class="form-control" name="customerID">
                        <option selected disabled>Select a customer</option>
                    {% for customer in newAppointment %}
                        <option value="{{customer.Customer_ID}}">{{customer.First_Name}} {{customer.Last_Name}} </option> 
                        {% endfor %}
                    </select>
                </div>
                </div>
                <div class="row">
                    <div class="col-5">
                    <label>Date</label> <label style="color:red">*</label>
                    <input type="date" name="date" class="form-control">
                    </div>
                    <div class="col-5">
                    <label>Time</label> <label style="color:red">*</label>
                    <select class="form-control" name="time" required>
                        <option value="8:00">8:00 A.M</option>
                        <option value="8:30">8:30 A.M</option>
                        <option value="9:00">9:00 A.M</option>
                        <option value="9:00">9:30 A.M</option>
                        <option value="10:00">10:00 A.M</option>
                        <option value="10:30">10:30 A.M</option>
                        <option value="11:00">11:00 A.M</option>
                        <option value="11:30">11:30 A.M</option>
                        <option value="12:00">12:00 P.M</option>
                        <option value="12:30">12:30 P.M.</option>
                        <option value="13:00">1:00 P.M.</option>
                        <option value="13:30">1:30 P.M.</option>
                        <option value="14:00">2:00 P.M.</option>
                        <option value="14:30">2:30 P.M.</option>
                        <option value="15:00">3:00 P.M.</option>
                        <option value="15:30">3:30 P.M.</option>
                        <option value="16:00">4:00 P.M.</option>
                        <option value="16:30">4:30 P.M.</option>
                        <option value="17:00">5:00 P.M.</option>
                        <option value="17:30">5:30 P.M.</option>
                    </select>  
                    </div>
                </div>
                </div>
                
           
            <div class="modal-footer">
                <input type='submit' class="btn btn-secondary" value="Save">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </form>
            </div>
        </div>
        </div>
    </div>


<!-- Modal Body for event -->
    <div class="modal fade" id="EventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width:50%" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Event</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <label style="color:red">*</label> <label>Indicates required field</label> 
                <form action = "{{ request.path }}" method = "post">
                    <input type="hidden" name="check" value="event">   
                    <div class="row">
                        <div class="col-3">
                            <label>Customer</label> <label style="color:red">*</label>
                    <select class="form-control" name="customer" required>
                        <option disabled selected>Select an option</option>
                        {% for customer in newAppointment %}
                            <option value="{{customer.Customer_ID}}">{{customer.First_Name}} {{customer.Last_Name}} </option>
                            {% endfor %} 
                        </select>
                        </div>
                        <div class="col-3"> 
                        <label>Date</label> <label style="color:red">*</label>
                        <input type="date" class="form-control" name="eventTime" required>  
                        </div>
                        <div class="col-3">
                    <label>Theme</label> <label style="color:red">*</label>
                    <input type="text" class="form-control" name="theme">
                    </div>
                    <div class="col-3">
                        <label>Venue</label> <label style="color:red">*</label>
                    <input type="text" class="form-control" name="location" required>
                    </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-3">  
                            <label>Category</label> <label style="color:red">*</label>
                            <select class="form-control" name="category" required>
                                <option disabled selected>Select a category</option>
                                {% for category in eventCategory %}
                                <option value="{{category.Event_Category_ID}}">{{category.Event_Category_Name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-3">                  
                            <label>Order Status</label> <label style="color:red">*</label>
                            <select class="form-control" name="status" required> 
                                <option disabled selected>Select a status</option>                                          
                                {% for status in statuses %}
                                    <option value="{{status.Event_Status_ID}}">{{status.Event_Status}}</option>
                                {% endfor %}    
                            </select>
                        </div>
      
                        <div class="col-3">
                    <label>Delivery</label> <label style="color:red">*</label>
                    <select class="form-control" name="delivery" required>                                            
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        <option disabled selected value>Select a delivery</option>
                    </select>
                    </div>
                    <div class="col-3">  
                    <label>Setup</label> <label style="color:red">*</label>
                    <select class="form-control" name="setup" required>   
                        <option disabled selected value>Select a setup</option>                                      
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                    </div>
                    </div>
                    
                    <br>
                    <div class="row">
                    
                    <div class="col-5">
                    <label>Address</label> <label style="color: red">*</label>
                    <input type="text" class="form-control" name="address" required>
                    </div>
                    <div class="col-3">
                    <label>City</label> <label style="color:red">*</label>
                    <input type="text" class="form-control" name="city" required>  
                    </div>
                    <div class="col-2"> 
                        <label>State</label> <label style="color:red">*</label>
                    <select class="form-control" name="state">
                        {% for state in stateList %}
                            <option value="{{state.State_ID}}">{{state.State_Name}}</option> 
                        {% endfor %}
                    </select>                                         
                    </div>
                    <div class="col-2"> 
                        <label>Zip Code</label> <label style="color:red">*</label>
                        <input type="text" class="form-control" name="zip" required>
                  
                    </div>
                    </div>
                    
                    <br>
                    <div class='row'>
                        <div class="col">   
                            <label>Event Description</label> <label style="color:red">*</label>
                            <textarea rows = "2" class="form-control" name="eventDesc" required></textarea>
                            </div>
                        </div>
                    <div class='row'>
                        <div class="col">  
                            <label>Restrictions</label>
                            <textarea rows = "2" class="form-control" pattern="[A-Za-z ]{1,250}" name="restrictions"></textarea>
                            </div>
                            </div>

            </div>
         
            <div class="modal-footer">
                
                <input type='submit' class="btn btn-secondary" value="Save">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </form>
            </div>
        </div>
        </div>
    </div>
{% endblock %}

