{% extends "base.html" %}
<!DOCTYPE html>

    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="list-group" >
                        <a href="/Appointment" class="list-group-item list-group-action" >Appointment</a>
                        <a href="/Customer" class="list-group-item list-group-action" >Customer</a>
                        <a href="/Employee" class="list-group-item list-group-action" >Employee</a>
                        <a href="/EmployeeAssignment" class="list-group-item list-group-action" >Employee Assignment</a>
                        <a href="/EventCategory" class="list-group-item list-group-action" >Event Category</a>
                    </div>
                </div>
                <div class="col-sm">                                
                    <div class="list-group" >
                    <a href="/EventOrder" class="list-group-item list-group-action" >Event Order</a>
                    <a href="/EventOrderLine" class="list-group-item list-group-action" >Event Order Line</a>
                    <a href="/EventStatus" class="list-group-item list-group-action" >Event Status</a>
                    <a href="/Payment" class="list-group-item list-group-action" >Payment</a>
                    <a href="/PaymentType" class="list-group-item list-group-action" >Payment Type</a>
                    </div>
                </div>                                      
                <div class="col-sm">
                    <div class="list-group" >
                    <a href="/ProductService" class="list-group-item list-group-action" >Product Service</a>
                    <a href="/State" class="list-group-item list-group-action" >State</a>
                    <a href="/Vendor" class="list-group-item list-group-action" >Vendor</a>
                    <a href="/VendorService" class="list-group-item list-group-action" >Vendor Service</a>
                    <a href="/Reports" class="list-group-item list-group-action" >Reports</a>
                    </div>
                </div>
            </div>  
        </div>
        {% endblock %}
